body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(14, 8, 49);
    overflow: hidden;
}
.paddle{
--position:50;


position: absolute;
background-color: white;
width: 2vh;
transform: translateY(-50%);
height: 20vh;
top:calc( var(--position)*1vh);
}
.paddle.left{
left: 1vw;
}
.paddle.right{
 right: 1vw;
}
.ball{
    --x:50;
    --y:50;
    /* left: 50vh; */
    left:calc( var(--x)*1vw);

    position: absolute;
    background-color: white;
    width: 2.5vh;
    transform: translate(-50% -50%);
    height: 2.5vh;
    top:calc( var(--y)*1vh);
    
    border-radius: 50%;
}

.score{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 7vh;
    color: rgb(249, 245, 240);
}
.score>*{
    padding: 0 4vh;
   margin:1vh 0;
   opacity:0.6 ;
}
.score>:first-child{
   border-right: 2px solid white;
}